// Copyright 2026 @polkadot-cloud/polkadot-cloud-apps authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@use "ui-styles/theme/pastel";

.btnSubmitInvert {
	@include pastel.edge;

	background: var(--pastel-surface);
	border: 1px solid transparent;
	border-radius: var(--btn-sm-radius);
	color: var(--gray-1000);
}

.btnSubmitInvertSm {
	padding: var(--btn-lg-padding);
	font-size: var(--btn-sm-font-size);
}

.btnSubmitInvertLg {
	padding: var(--btn-lg-padding);
	font-size: var(--btn-lg-font-size);
}

.btnSubmitInvert:is(:hover, :focus-visible):not(:disabled) {
	--pastel-edge-opacity: var(--edge-hover-opacity);

	background-color: var(--bg-selected);
}
