// Copyright 2026 @polkadot-cloud/polkadot-cloud-apps authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.container {
	--canvas-window-inset: 1.5rem;
	--canvas-window-offset: 3rem;

	background: color-mix(in srgb, var(--gray-500) 82%, transparent);
	backdrop-filter: blur(12px);
	padding: var(--canvas-window-inset);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 10;

	:global(.dark) & {
		background: color-mix(in srgb, var(--gray-100) 88%, transparent);
	}

	@media (width <= 600px) {
		--canvas-window-inset: 0.5rem;
		--canvas-window-offset: 1rem;
	}
}
