// Copyright 2026 @polkadot-cloud/polkadot-cloud-apps authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@use "ui-styles/theme/pastel";

.multiButton {
	@include pastel.primary-button;

	transition: transform var(--transition-duration);
	border-radius: 1.5rem;
	display: flex;
	padding: 0.1rem 0.25rem;

	&.disabled {
		background: var(--gray-700);

		&::before {
			display: none;
		}
	}

	> span {
		border-right: 1px solid var(--button-text);
		opacity: 0.2;
		margin: 0 0.2rem;
	}

	> button {
		color: var(--button-text);
		border-radius: var(--btn-lg-radius);

		&.sm {
			font-size: var(--btn-sm-font-size);
			padding: var(--btn-sm-padding);
			padding-left: 0.45rem;
			padding-right: 0.45rem;
		}
	}
}
