// Copyright 2026 @polkadot-cloud/polkadot-cloud-apps authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.btnSecondary {
	background: var(--pastel-surface) var(--btn-bg-secondary);
	border: 1px solid var(--gray-500);
	border-radius: var(--btn-lg-radius);
	color: var(--gray-900);

	&.asTab {
		color: var(--gray-900);
		background: transparent;
		border-color: var(--gray-500);
	}

	&.active {
		background: var(--pastel-surface) var(--bg-selected);
		border-color: var(--accent-600);

		&.asTab {
			color: var(--accent-900);
		}
	}
}

.btnSecondary:is(:hover, :focus-visible):not(:disabled) {
	border-color: var(--accent-600);
}
