// Copyright 2026 @polkadot-cloud/polkadot-cloud-apps authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.card {
	background-image: var(--pastel-wash);
	background-color: var(--bg-modal);
	transition: opacity 0.15s;

	:global(.light) & {
		background-image:
			linear-gradient(rgb(255 255 255 / 25%), rgb(255 255 255 / 25%)),
			var(--pastel-wash);
	}

	:global(.dark) & {
		background-image: none;
	}

	&.dimmed {
		opacity: 0;
	}
}
