// Copyright 2026 @polkadot-cloud/polkadot-cloud-apps authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.scroll {
	width: 100%;
	position: relative;
	z-index: 9;

	&.default {
		height: 100%;
	}

	&.card {
		background: var(--bg-primary);
		border-radius: 1.25rem;
		overflow: hidden;
		min-height: calc(100vh - var(--canvas-window-offset, 0rem));
		flex-shrink: 0;
	}
}
