// Copyright 2026 @polkadot-cloud/polkadot-cloud-apps authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

@use "ui-styles/theme/pastel";

.card {
	@include pastel.edge;

	background-color: var(--bg-primary);
	border-radius: 1.5rem;
	padding: 0.5rem;
	box-shadow: var(--shadow-alt);
	border: 1px solid transparent;
}
