// Copyright 2026 @polkadot-cloud/polkadot-cloud-apps authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

.header {
	margin-top: 5.5rem;
	margin-bottom: 1.5rem;
}

.title {
	font-family: "DM Serif Display", serif;
	font-size: 2.5rem;
	line-height: 2.8rem;
}

.subtitle {
	font-size: 1.25rem;
	line-height: 1.8rem;
	color: var(--gray-700);
	margin-top: 0.75rem;
}
